USE [master]
GO
/****** Object:  Database [HikingDB]    Script Date: 2025/8/17 下午 11:34:13 ******/
CREATE DATABASE [HikingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HikingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HikingDB]
GO
/****** Object:  Table [dbo].[GroupImage]    Script Date: 2025/8/17 下午 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[image_data] [varbinary](max) NULL,
	[image_name] [nvarchar](255) NULL,
	[upload_order] [int] NULL,
	[upload_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MountainTrails]    Script Date: 2025/8/17 下午 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MountainTrails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[badge] [nvarchar](50) NOT NULL,
	[walk_days] [int] NOT NULL,
	[location] [nvarchar](100) NOT NULL,
	[mt_name] [nvarchar](100) NOT NULL,
	[diff] [int] NOT NULL,
	[dist_km] [decimal](5, 2) NOT NULL,
	[time_min] [int] NOT NULL,
	[ascend_m] [int] NOT NULL,
	[descend_m] [int] NOT NULL,
	[trail_cond] [nvarchar](200) NULL,
	[route_type] [nvarchar](50) NULL,
	[min_alt_m] [int] NOT NULL,
	[max_alt_m] [int] NOT NULL,
	[mt_range] [nvarchar](50) NULL,
	[park_permit] [tinyint] NOT NULL,
	[mt_permit] [tinyint] NOT NULL,
	[TripDetails] [ntext] NULL,
	[region] [nvarchar](10) NOT NULL,
	[TripSchedule] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripGroup]    Script Date: 2025/8/17 下午 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripGroup](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[mt_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[group_name] [nvarchar](100) NULL,
	[activity_date] [date] NOT NULL,
	[meeting_time] [nvarchar](50) NULL,
	[meeting_location] [nvarchar](200) NULL,
	[custom_schedule] [nvarchar](max) NULL,
	[leader_message] [nvarchar](max) NULL,
	[max_participants] [int] NULL,
	[current_participants] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[include_transport] [bit] NULL,
	[include_accommodation] [bit] NULL,
	[include_guide] [bit] NULL,
	[include_insurance] [bit] NULL,
	[include_course] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/8/17 下午 11:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupImage] ON 

INSERT [dbo].[GroupImage] ([image_id], [group_id], [image_data], [image_name], [upload_order], [upload_date]) VALUES (1, 1, 0x123456, N'mountain_view_1.jpg', 1, CAST(N'2025-08-17T17:19:14.853' AS DateTime))
INSERT [dbo].[GroupImage] ([image_id], [group_id], [image_data], [image_name], [upload_order], [upload_date]) VALUES (2, 1, 0x789ABC, N'mountain_view_2.jpg', 2, CAST(N'2025-08-17T17:19:14.853' AS DateTime))
INSERT [dbo].[GroupImage] ([image_id], [group_id], [image_data], [image_name], [upload_order], [upload_date]) VALUES (3, 1, 0xDEF123, N'mountain_view_3.jpg', 3, CAST(N'2025-08-17T17:19:14.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[GroupImage] OFF
GO
SET IDENTITY_INSERT [dbo].[MountainTrails] ON 

SET IDENTITY_INSERT [dbo].[MountainTrails] OFF
GO
SET IDENTITY_INSERT [dbo].[TripGroup] ON 

SET IDENTITY_INSERT [dbo].[TripGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email]) VALUES (1, N'tony', N'123', N'tony123@gmial.com')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email]) VALUES (2, N'mary', N'456', N'mary456@gmail.com')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email]) VALUES (15, N'Austin', N'510625', N'Austin510@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MountainTrails_Badge]    Script Date: 2025/8/17 下午 11:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_MountainTrails_Badge] ON [dbo].[MountainTrails]
(
	[badge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MountainTrails_Difficulty]    Script Date: 2025/8/17 下午 11:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_MountainTrails_Difficulty] ON [dbo].[MountainTrails]
(
	[diff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MountainTrails_MaxAlt]    Script Date: 2025/8/17 下午 11:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_MountainTrails_MaxAlt] ON [dbo].[MountainTrails]
(
	[max_alt_m] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MountainTrails_Region]    Script Date: 2025/8/17 下午 11:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_MountainTrails_Region] ON [dbo].[MountainTrails]
(
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MountainTrails_WalkDays]    Script Date: 2025/8/17 下午 11:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_MountainTrails_WalkDays] ON [dbo].[MountainTrails]
(
	[walk_days] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupImage] ADD  DEFAULT (getdate()) FOR [upload_date]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((20)) FOR [max_participants]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((0)) FOR [current_participants]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((1)) FOR [include_transport]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((1)) FOR [include_accommodation]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((1)) FOR [include_guide]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((1)) FOR [include_insurance]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ((0)) FOR [include_course]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT ('招募中') FOR [status]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[TripGroup] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[GroupImage]  WITH CHECK ADD  CONSTRAINT [FK_GroupImage_TripGroup] FOREIGN KEY([group_id])
REFERENCES [dbo].[TripGroup] ([group_id])
GO
ALTER TABLE [dbo].[GroupImage] CHECK CONSTRAINT [FK_GroupImage_TripGroup]
GO
ALTER TABLE [dbo].[TripGroup]  WITH CHECK ADD  CONSTRAINT [FK_TripGroup_MountainTrails] FOREIGN KEY([mt_id])
REFERENCES [dbo].[MountainTrails] ([ID])
GO
ALTER TABLE [dbo].[TripGroup] CHECK CONSTRAINT [FK_TripGroup_MountainTrails]
GO
ALTER TABLE [dbo].[TripGroup]  WITH CHECK ADD  CONSTRAINT [FK_TripGroup_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TripGroup] CHECK CONSTRAINT [FK_TripGroup_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'路線分類：百岳、合歡群峰、平岩山、小百岳' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MountainTrails', @level2type=N'COLUMN',@level2name=N'badge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'難度等級：1=簡單, 2=中等, 3=困難' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MountainTrails', @level2type=N'COLUMN',@level2name=N'diff'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地區：東部、中部、南部、北部' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MountainTrails', @level2type=N'COLUMN',@level2name=N'region'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'台灣登山路線資料表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MountainTrails'
GO
USE [master]
GO
